body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    height:100vh;
    width:100vw;
}
.box{
    background-color:lightblue;
    /* position:relative; */
    border-style:solid;
    border-color:rgb(170, 170, 246);
    border-width:2px;
    border-radius:8px;
}

.info{
    padding:14px;
    margin:12px;
    background-color:rgb(216, 231, 245);
    border:solid 1px rgb(200, 200, 241);
    border-radius:7px;
}

#weathercon{
    padding:7px;
    margin:12px;
    position:relative;
    left:6rem;
}